<!DOCTYPE html>
<html lang="en">
<head>
    <title> Index </title>
    <style type="text/css">

    body{
        background: url(http://i65.tinypic.com/5obkmq.png);
        background-repeat: no-repeat;
        background-position: 490px -100px;
        background-color: white;
    }

    div {
        position: absolute;
        width: 30%;
        top: 200px;
        left: 480px;
    }

    </style>
</head>
<body>
    <div>
        {% block body %}
            <form action="" method="post"> 
            <fieldset>
                <legend>Iniciar sesión:</legend> 
                Usuario:<br>
                <input type="text" name="nombre">
                <br>
                Contraseña:<br>
                <input type="password" name="pswd">
                <br>
                <br>
                <input type="submit" name="entrar" value="Entrar">
                <br>
                <br>
            </form>
            <form action="/Registro">
                <input type="submit" name="registro" value="Registrarse">
            </form>
        {% endblock %}
    </div>
</body>
</html>