<!DOCTYPE html>
<html lang="en">
<head>
    <title> Registro </title>
    <style type="text/css">


    </style>

</head>
<body>

<div>

    {% block body %}

        <form action="" method="get">
        <fieldset>
            <legend> Registrarse: </legend> 
            Nombre:
            <br>
            <input type="text" name="nombre">
            <br>
            Contraseña:
            <br>
            <input type="password" name="pswd">
            <br>
            <br>
            <input type="submit" name="registrar" value="entrar"> 

    {% endblock %}

</div>

</body>
</html>